@font-face{
    font-family:"Futura-LT-W01-Light";
    src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/2b40e918-d269-4fd9-a572-19f5fec7cd7f.eot?#iefix");
    src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/2b40e918-d269-4fd9-a572-19f5fec7cd7f.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/26091050-06ef-4fd5-b199-21b27c0ed85e.woff2") format("woff2"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/cca525a8-ad89-43ae-aced-bcb49fb271dc.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/88cc7a39-1834-4468-936a-f3c25b5d81a1.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/14d6bf5d-15f1-4794-b18e-c03fb9a5187e.svg#14d6bf5d-15f1-4794-b18e-c03fb9a5187e") format("svg");
}
@import url('https://fonts.googleapis.com/css?family=Allura&display=swap');



body {
    padding:0px;
    margin:0px;
    font-size: 18pt;}


/* menu */

.menu ul {
font-weight: bold;
padding:30px;
margin:0px;
float: left;
width: 100%;
background-color:#EDEDED;
list-style:none;
font:80% Tahoma;}

.menu ul li { 
display: inline-block;
margin: auto;
padding: 0px 40px;}

.menu ul li a {
font-weight: bold;
font-family:"Futura-LT-W01-Light";
color:#524261;
text-decoration: none;
padding: 10px 20px;
float:left;}

.menu ul li a:hover {
color:#A899B6;
transition: 0.5s ease-in;}

.menu ul li a#register {
color:#524261;
border-style:solid;
border-width: 2px;
border-color: #524261;
padding: 10px 20px;}

.menu ul li a#register:hover {
background-color: rgba(150, 142, 158, 0.151);
transition: 0.5s ease-in;}

nav{
font-size: 14pt;
text-align: center;
font-family:"Futura-LT-W01-Light";}

/****************************************/


/*Centro da pagina*/

article{ 
    padding: 200px 0px 0px 0px;
    font-family:"Futura-LT-W01-Light";
    font-size: 12pt;
    text-align: center;
    width: 100%;
    height: 700px;
    background-color:  #E9FBFC;}

section{
background-color: #E9FBFC;
position: relative;
width: 100%;
height: auto;}

section div{
position: relative;
width: 40%;
height: auto;
background-color: #E9FBFC;
margin: 40px auto;
display: inline-block;}

.historia h2{
font-size: 16pt;
margin: 30px 20px;}

.historia p{
    font-size: 14pt;}

div#titulo h1{
    font-size: 35pt;
    padding-bottom: 20px;}

/***************************************/

/*Galeria de fotos*/

section#galeria{
    width: 100%;
    height: auto;
    text-align: center;}

.Foto{
    width: 24%;
    height: auto;
    padding-bottom: 70px;
    margin: auto;}

/********************************************/

footer{
    font-family:"Futura-LT-W01-Light";
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12pt;
    color: white;
    width: 100%;
    height: 60px;
    background-color: #2E2E2E;}