body{
    height: 100vh;
}
main{
display: flex;
  width: 70%;
  height:50%;
  text-align:center;
  font-family:"Futura-LT-W01-Light";
  font-size: 13pt;
  align-items: center;
  padding: 50px;
  margin: auto;
}

#formulario{
    width: 80%;
    padding: 100px 0px;
}

#nome{
    width: 45%;
    height:auto;
    float: right;
    margin: 2.5%;
text-align: start;}


#sobrenome{
    width: 45%;
    height:auto;
    float: right;
    text-align: start;
    margin:2.5%;} 
  
#mail{
    width: 95%;
    height: auto;
    margin-left: 2.5%;
    text-align: start;
}
.botao{
    font-family:"Futura-LT-W01-Light";
    font-size: 12pt;
    width: 95.5%;
    margin: 30px auto auto auto;
    border: none;
    background: #7b6392;
    padding: 15px;
    color: white;
}

/*Area de input*/    
#mail #email{
    width: 100%;
    height: 40px;
    margin-top: 5px;}

#nome #name{
    width: 100%;
    height: 40px;
    margin-top: 5px;
}
#sobrenome #name{
    width: 100%;
    height: 40px;
    margin-top: 5px;
}

aside{
    width: 300px;
    height: 150px;
    position: relative;
    background-color: #7b6392 ;
    padding: 20px 70px;
    margin: 0% 0% 25% 10%;
}

#titulo{
    position: absolute;
    margin: 200px 200px 0px 200px;
    font-family:"Futura-LT-W01-Light";
    font-size: 25pt;
}

aside h1{
    color: white;
    font-size: 15pt;
    padding: 15px 0px 25px 0px;
    border-bottom:solid 1px white;
    margin-bottom: 20px;
}

aside p{
    color: white;
    border-top: 1px white;
    line-height: 1.5;
}